.jumbotron {
  color: white;
  background-color: #1565b0;
  background-size: cover;}
.jumbotron .container {
  padding-top: 90px;
  padding-bottom: 75px;
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*cutoff */

h1 {
  font-family: Roboto; 
}
