p {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
}

p.tiny {
  font-size: 10px;
}

h1 {
  font-size: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  color: white;
}

hr {
  color: white;
}

body {
  background: url(http://wallpapercave.com/wp/Y4EJI08.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.big-input-container {
  padding: 10px;
}

.big-input {
  width: 80%;
  padding: 15px;
  border-radius: 3px solid black;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.topic {
  margin-top: 40px;
  margin-bottom: 20px;
}

.paragraph-text {
  border: 3px white solid;
  background-color: gray;
  opacity: 0.8;
  color: white;
  padding: 15px;
  width: 100%;
}

.paragraph-text:hover {
  opacity: 1;
}

.buttons {
  padding: 15px;
}

.btn-social {
  color: white;
  background-color: black;
  border-radius: 0px;
}

.header-statement {
  padding-top: 130px;
  font-family: 'PT Sans Caption', sans-serif;
  color: white;
}

.statement {
  display: block;
}

.project {
  border-color: #fff;
  height: 100%;
}
.project .header {
  display: inline;
}

.badge {
  border-radius: 0px;
  margin: 1px;
}

.footer {
  padding: 20px;
  color: white;
  width: 100%;
  background-color: black;
  height: 60px;
}
