<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Nicholas C. Morrell</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.carousel.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Baloo+Bhaina|Nunito|PT+Sans+Caption'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div id="portfolio" class="container">
  <div class="row text-center">
    <div class="col-md-8 offset-md-2">
      <div class="header-statement">
        <h1>Nicholas C. Morrell</h1>
      </div>
      <div class="buttons">
        <a href="https://www.linkedin.com/in/nicholasmorrell" class="btn btn-social"><i class="fa fa-linkedin"></i> LinkedIn</a>
        <a href="https://github.com/nicholascm90" class="btn btn-social"><i class="fa fa-github"></i> GitHub</a>
      </div>
      <div v-for="topic in info" class="topic">
        <h3 class="text-center">{{ topic.title }}</h3>
        <div class="paragraph-text">
          <p>{{ topic.description }}</p>
          <img v-if="topic.image" :src="topic.image" width="200px;">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <p class="tiny text-center">Copyright © Nicholas Morrell 2017. All Rights Reserved</p>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/owl.carousel.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
